# **Pandas**
* High level data manipulation tool
* Wes McKinney
* Built in Numpy
* DataFrame

## **DataFrame**

**DataFrame from Dictionary**
* keys (column labels)
* values (data, column by column)

In [1]:
dict = {
    "country": ["Brazil", "Russia", "India", "China", "South Africa"],
    "capital": ["Brasilia", "Moscow", "New Delhi", "Beijing", "Pretoria"],
    "area": [8.516, 17.10, 3.286, 9.597, 1.221],
    "population": [200.4, 143.5, 1252, 1357, 52.98]
}

In [2]:
import pandas as pd
brics = pd.DataFrame(dict)
brics

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Delhi   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [3]:
brics.index = ["BR", "RU", "IN", "CH", "SA"]
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

**DataFrame from CSV File**

In [4]:
brics = pd.read_csv("brics.csv")
brics

  Unnamed: 0       country    capital    area  population
0         BR        Brazil   Brasilia   8.516      200.40
1         RU         Rusia     Moscow  17.100      143.50
2         IN         India  New Delhi   3.286     1252.00
3         CH         China    Beijing   9.597     1357.00
4         SA  South Africa   Pretoria   1.221       52.98

In [5]:
brics = pd.read_csv("brics.csv", index_col=0)
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU         Rusia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

## **Index and Select Data**
* Square brackets
* Avanced methods
  * loc
  * iloc

### **Column Access []**

In [6]:
brics["country"]

BR          Brazil
RU           Rusia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [7]:
type(brics["country"])

pandas.core.series.Series

series = 1D labelled array

if you want to select the `country` column but **keep the data in a DataFrame**, you'll need double square brackets, like this.

In [8]:
brics[["country"]]

         country
BR        Brazil
RU         Rusia
IN         India
CH         China
SA  South Africa

In [9]:
type(brics[["country"]])

pandas.core.frame.DataFrame

In [10]:
brics[["country", "capital"]]

         country    capital
BR        Brazil   Brasilia
RU         Rusia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

### **Row Access []**

In [11]:
brics[1:4]

   country    capital    area  population
RU   Rusia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

### **Dicussion []**

* Square brackets: limited functionality
* Ideally
  * 2D NumPy arrays
  * `my_array[rows, columns]`
* Pandas
  * `loc` (label-based)
  * `iloc` (integer position-based)

### **Row Access loc**

**Row as pandas Series**

In [12]:
brics.loc["RU"]

country        Rusia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object

**Row as pandas DataFrame**

In [13]:
brics.loc[["RU"]]

   country capital  area  population
RU   Rusia  Moscow  17.1       143.5

In [14]:
brics.loc[["RU", "IN", "CH"]]

   country    capital    area  population
RU   Rusia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

### **Row & Column loc**

In [15]:
brics.loc[["RU", "IN", "CH"], ["country", "capital"]]

   country    capital
RU   Rusia     Moscow
IN   India  New Delhi
CH   China    Beijing

In [16]:
brics.loc[:, ["country", "capital"]]

         country    capital
BR        Brazil   Brasilia
RU         Rusia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

### **Row Access iloc**

In [17]:
brics.iloc[[1]]

   country capital  area  population
RU   Rusia  Moscow  17.1       143.5

In [18]:
brics.iloc[[1, 2, 3]]

   country    capital    area  population
RU   Rusia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

### **Row & Column iloc**

In [19]:
brics.iloc[[1, 2, 3], [0, 1]]

   country    capital
RU   Rusia     Moscow
IN   India  New Delhi
CH   China    Beijing

In [20]:
brics.iloc[:, [0, 1]]

         country    capital
BR        Brazil   Brasilia
RU         Rusia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

## **Recap**

* **Square brackets**
  * Column access `brics[["country", "capital"]]`
  * Row access: only through slicing `brics[1:4]`
* **loc (label-based)**
  * Row access `brics.loc[["RU", "IN", "CH"]]`
  * Column access `brics.loc[:, ["country", "capital"]]`
  * Row & Column access `brics.loc[["RU", "IN", "CH"], ["country", "capital"]]`
* **iloc (integer position-based)**
  * Row access `brics.iloc[[1, 2, 3]]`
  * Column access `brics.iloc[:, [0, 1]]`
  * Row & Column access `brics.iloc[[1, 2, 3], [0, 1]]`

## **Boolean Operators**

We can using :
* `logical_and()`
* `logical_or()`
* `logical_not()`

because **pandas is build in NumPy**

In [21]:
import numpy as np
np.logical_and(brics["area"] > 8, brics["area"] < 10)

BR     True
RU    False
IN    False
CH     True
SA    False
Name: area, dtype: bool

In [22]:
brics[np.logical_and(brics["area"] > 8, brics["area"] < 10)]

   country   capital   area  population
BR  Brazil  Brasilia  8.516       200.4
CH   China   Beijing  9.597      1357.0

## **For Loop in Pandas**

In [23]:
for val in brics:
    print(val)

country
capital
area
population

Well, this was rather unexpected. We simply got the column names. Also interesting, but not exactly what we want.

In Pandas, you have to mention explicitly that you want to iterate over the rows. You do this by calling the `itterows()` method on the **brics** country, thus specifying another "sequence".

**The `itterows()` method looks at the DataFrame, and on each iteration generates two pieces of data.** 
1. **The label of the row and then**
2. **The actual data in the row as a Pandas Series.**

Let's change the rest of the for loop to reflect this change: we store the **row label as lab**, and the **row data as row**.

In [30]:
for lab, row in brics.iterrows():
    print(lab)
    print(row)

BR
country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object
RU
country        Rusia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object
IN
country           India
capital       New Delhi
area              3.286
population       1252.0
Name: IN, dtype: object
CH
country         China
capital       Beijing
area            9.597
population     1357.0
Name: CH, dtype: object
SA
country       South Africa
capital           Pretoria
area                 1.221
population           52.98
Name: SA, dtype: object

To understand what's happening, let's print lab and row seperately.

In the first iteration, lab is BR, and row is this entire Pandas Series. Because this row variable on each iteration is a Series, we can easily select additional information from it using the **subsetting techniques**.

In [28]:
for lab, row in brics.iterrows():
    print(lab + ": " + row["capital"])

BR: Brasilia
RU: Moscow
IN: New Delhi
CH: Beijing
SA: Pretoria

Let's add a new column to the brics DataFrame, named `name_length` containing the number of characters in the country's name.

In [31]:
for lab, row in brics.iterrows():
    brics.loc[lab, "name_length"] = len(row["country"])
print(brics)

         country    capital    area  population  name_length
BR        Brazil   Brasilia   8.516      200.40          6.0
RU         Rusia     Moscow  17.100      143.50          5.0
IN         India  New Delhi   3.286     1252.00          5.0
CH         China    Beijing   9.597     1357.00          5.0
SA  South Africa   Pretoria   1.221       52.98         12.0

Running the above scripts shows that it worked: there's a new column in there with the length of the country names.

Nice, but not especially efficient, because you're creating a Series object on every iteration. For this small DataFrame that doesn't matter, but if we're doing funky stuff on a ginormous dataset, this loss in efficiency can become problematic.

A better way approach if we want to calculate an entire DataFrame column by applying a function on a particular column in an element-wise fashion, is `apply()`. **In this case we don't even need for loop**. This is how it's done.

In [32]:
brics["name_length"] = brics["country"].apply(len)
print(brics)

         country    capital    area  population  name_length
BR        Brazil   Brasilia   8.516      200.40            6
RU         Rusia     Moscow  17.100      143.50            5
IN         India  New Delhi   3.286     1252.00            5
CH         China    Beijing   9.597     1357.00            5
SA  South Africa   Pretoria   1.221       52.98           12

# **Pandas Exercise**

**Select countries with area over 8 million km2**
* 3 steps
  * Select the area column
  * Do comparison on area column
  * Use result to select countries

**Step 1: Select the area column**

In [24]:
brics["area"]

# Alternative
# brics.loc[:, "area"]
# brics.iloc[:, 2]

BR     8.516
RU    17.100
IN     3.286
CH     9.597
SA     1.221
Name: area, dtype: float64

**Step 2: Do comparison on area column**

In [25]:
is_huge = brics["area"] > 8
is_huge

BR     True
RU     True
IN    False
CH     True
SA    False
Name: area, dtype: bool

**Step 3: Use result to select countries (Subset DF)**

In [26]:
brics[is_huge]

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU   Rusia    Moscow  17.100       143.5
CH   China   Beijing   9.597      1357.0