___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# **Set**

**Table of Contents :**
1. `Constructing Set`
2. `Set Characteristics`
3. `Basic Operations/Methods on Set`
4. `Property and Other Methods`
5. `Conclusion`

Set is a collection data type in Python that is ***unordered*** and ***does not allow duplication of elements***. set is used to store multiple items in a single variable. ***Elements in a set are unique***, meaning no two elements are the same.

## **Constructing Set**

We can construct them by using the curly braces `{}` or `set()` function. Let's go ahead and make a set to see how it works

`Notes:` Sets created with `{}` cannot be empty as they will be considered as dictionaries. Use `set()` to create an empty set.

In [11]:
empty_dict = {}
print(empty_dict, type(empty_dict))

{} <class 'dict'>

In [9]:
# Empty set
empty_set = set()
print(empty_set)

set()

In [8]:
# Using curly braces {}
fruits = {"apple", "banana", "lemon"}
print(fruits)

# Using set() function
numbers = set([1,2,3,4,5])
print(numbers)

{'banana', 'lemon', 'apple'}
{1, 2, 3, 4, 5}

## **Set Characteristics**

* `Unordered`: The elements in a set have no particular order.
* `No Duplication`: Sets automatically remove duplicate elements.

Since it is unordered, we can't use indexing and slicing on Set

**Indexing**

In [14]:
numbers = {1,2,3,4,5}
print(numbers[0])

TypeError: 'set' object is not subscriptable

**Slicing**

In [16]:
numbers = {1,2,3,4,5}
print(numbers[:])

TypeError: 'set' object is not subscriptable

Notice how it won't place another 1 there. That's because a set is only concerned with unique elements! We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

In [17]:
# No duplication
fruits = {"apple", "banana", "cherry", "apple"}
print(fruits)

# Create a list with repeats
numbers = [1,1,2,2,3,4,5,6,1,1]

# Cast as set to get unique values
set(numbers)

{'banana', 'cherry', 'apple'}

{1, 2, 3, 4, 5, 6}

## **Basic Operations/Methods on Sets**

**Adding Elements**

To add an element to a set, use the `add()` method.

In [19]:
my_set = {1,2,3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

**Removing Elements**

You can remove an element with `remove()` or `discard()`. 

The main difference between the two is that `remove()` will cause an error if the element is not found, while `discard()` will not cause an error.

In [20]:
my_set = {1,2,3}
my_set.remove(2)
my_set.remove(3)
my_set.remove(5) # Error cause the element is not found

KeyError: 5

In [23]:
my_set.discard(5)
my_set

{1}

**Removing All Elements**

You can remove all elements from a set by using the `clear()` method.

In [31]:
my_set = {1,2,3}
my_set.clear()
my_set

set()

**Combining Sets**

To combine two sets, you can use the union operation (`|`) or the `union()` method.

In [35]:
set1 = {1,2,3}
set2 = {4,5,6}
using_operation = set1 | set2
using_operation

{1, 2, 3, 4, 5, 6}

In [36]:
using_method = set1.union(set2)
using_method

{1, 2, 3, 4, 5, 6}

**Intersection of Sets**

To get the elements present in both sets, use the intersection operation (`&`) or the `intersection()` method.

In [38]:
set1 = {1,2,3}
set2 = {2,3,4}
using_operation = set1 & set2
using_operation

{2, 3}

In [39]:
using_method = set1.intersection(set2)
using_method

{2, 3}

**Difference Set**

To get elements that are in set1 but not in set2, use the difference (`-`) operation or the `difference()` method.

In [40]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
using_operation = set1 - set2
using_operation

{1}

In [41]:
using_method = set1.difference(set2)
using_method

{1}

**Symmetric Difference Set**

To get elements that are in one of the sets but not in both, use the symmetric difference (`^`) operation or the `symmetric_difference()` method.

In [42]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
using_operation = set1 ^ set2
using_operation

{1, 4}

In [43]:
using_method = set1.symmetric_difference(set2)
using_method

{1, 4}

## **Property and Other Methods**

**Checking Membership**

You can check if an element is in the set using the in operator.

In [44]:
my_set = {1, 2, 3}
print(2 in my_set)
print(4 in my_set)

True
False

**Counting Elements**

To count the number of elements in a set, use the `len()` function.

In [45]:
my_set = {1, 2, 3}
print(len(my_set))

3

**Iterating over Elements**

You can iterate over elements in a set using a for loop.

In [46]:
my_set = {1, 2, 3}
for elemen in my_set:
    print(elemen)

1
2
3

**Copying a Set**

You can make a copy of a set using the **copy()** method.

In [47]:
my_set = {1, 2, 3}
my_set_copy = my_set.copy()
print(my_set_copy)

{1, 2, 3}

## **Conclusion**

`set` in Python is a very useful data type for storing unordered collections of unique elements. With features such as element addition and deletion, set operations such as union, intersection, and difference, and the ability to check membership and iterate over elements, `set` provides an efficient and flexible way to manage unique data. The use of `set` can be very useful in a variety of situations, including the elimination of data duplication and mathematical operations on sets. With the basic concepts and methods explained, you can now utilize `set` to improve the efficiency and effectiveness of data processing in your Python programs.